table {

  border-collapse: collapse;
  border-spacing: 0;
  margin: ($baseline-grid-unit * 4) 0 ($baseline-grid-unit * 8) 0;
  width: 100%;
  margin-bottom: 0; // This needs to be declared, or Chrome will override

  th,
  td {
    @include core-font(20);
    border-bottom: 2px solid $grey-3;
    padding: ($baseline-grid-unit * 4) ($baseline-grid-unit * 4) ($baseline-grid-unit * 4) 0;
    vertical-align: top;
  }

  th {
    @include bold-font(20);
    text-align: left;
  }

}

.table--horizontal-scroll {
  width: 100%;
  overflow-y: scroll;
  
  table {
    min-width: 500px;
    margin: 0;
  }
}

.table--striped {
  
  tr:nth-child(odd) th,
  tr:nth-child(even) td {
    background-color: $grey-4;
  }
  
  th,
  td {
    padding: ($baseline-grid-unit * 4) ($baseline-grid-unit * 2) ($baseline-grid-unit * 4) ($baseline-grid-unit * 2);
  }
  
  th:first-child,
  td:first-child {
    padding: ($baseline-grid-unit * 4) ($baseline-grid-unit * 2) ($baseline-grid-unit * 4) ($baseline-grid-unit * 4);
  }
  
  th:last-child,
  td:last-child {
    padding: ($baseline-grid-unit * 4) ($baseline-grid-unit * 4) ($baseline-grid-unit * 4) ($baseline-grid-unit * 2);
  }
}

.table--compare {
  
  th, 
  td { width: 50%; }
  
  @include media(mobile) {
    
    display: block;

    thead, 
    tbody, 
    tr, 
    th, 
    td {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin-top: 0;
    }

    th:nth-child(odd), 
    td:nth-child(odd) { 
      position: absolute; // Hide accessibly
      top: -9999px;
      left: -9999px;
    }
  }
  
  + .table--compare {
    
    display: none;
    
    @include media(mobile) {
      
      display: block;
      
      th:nth-child(odd), 
      td:nth-child(odd) { 
        position: static;
        top: auto;
        left: auto;
      }

      th:nth-child(even), 
      td:nth-child(even) { 
        display: none; // Hide this inaccessibly because it's duplicated content
      }
    }
  }
}
  
  

