{% extends '_layouts/content-sidebar-last.nunjucks' %}

{% set title = 'Diarrhoea' %}
{% set intro = 'Usually diarrhoea goes away within a few days. You don’t have to do anything but make sure you or your child drink enough.' %}

{% block content_sidebar_last %}
  {% markdown "diarrhoea/main-content-before.md" %}
{% endblock %}

{% block sidebar %}
  {% markdown "diarrhoea/sidebar-content.md" %}
{% endblock %}

{% block content_sidebar_last_after %}
  {% markdown "diarrhoea/main-content.md" %}
  <div class="panel">
    <div class="panel--content">
     {% markdown "diarrhoea/panel-content.md" %}
    </div>
  </div>
  {% markdown "diarrhoea/main-content-after.md" %}
{% endblock %}