{% extends '_layouts/content-sidebar-flow.nunjucks' %}

{% set title = 'Diarrhoea' %}
{% set intro = 'Usually diarrhoea goes away on it’s own within a few days. Make sure you or your child drink plenty of fluids.' %}
{% set link_list = { 'Adults with diarrhoea': '#adults', 'Babies and toddlers with diarrhoea': '#babies', 'How long diarrhoea lasts': '#length', 'What causes diarrhoea': '#causes', 'Preventing diarrhoea': '#prevention' } %}


{% block content_sidebar_flow_before %}
  {% markdown "diarrhoea/main-content-before.md" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content_sidebar_flow_after %}
{% endblock %}