{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'Simple conditions prototypes' %}

{% block main_content %}
  {% markdown %}
  Simple conditions [patterns](/patterns/).
  * [Constipation](/constipation/)
  * [Dehydration](/dehydration/)
  * [Diarrhoea](/diarrhoea/)
  * [Earache and pain](/earache/)
  * [Flu](/flu/)
  * [Hay fever](/hay-fever/)
  * [Heat exhaustion](/heat-exhaustion/)
  * [Heat rash](/heat-rash/)
  * [Hives](/hives/)
  * [Mouth ulcers](/mouth-ulcers/)
  * [Nosebleeds](/nosebleeds/)
  * [Piles](/piles/)
  * [Sprains and strains](/sprains-strains/)
  * [Stye](/stye/)
  {% endmarkdown %}
{% endblock %}