{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'Simple conditions prototypes' %}

{% block main_content %}
<div class="page-section">
  <div class="reading-width">
    {% markdown %}
    * [Constipation](/constipation/)
    * [Diarrhoea](/diarrhoea/)
    * [Earache and pain](/earache/)
    * [Flu](/flu/)
    * [Hay fever](/hay-fever/)
    * [Heat rash](/heat-rash/)
    * [Hives](/hives/)
    * [Mouth ulcers](/mouth-ulcers/)
    * [Nosebleeds](/nosebleeds/)
    * [Piles](/piles/)
    * [Sprains and strains](/sprains-strains/)
    * [Stye](/stye/)
    {% endmarkdown %}
  </div>
</div>
{% endblock %}