{% extends '_layouts/content-sidebar-last.nunjucks' %}

{% set title = 'Flu' %}
{% set intro = 'You can treat the flu without seeing your GP and you should feel better in 7 days or so.' %}

{% block content_sidebar_last %}
  <article class="panel">
    <div class="panel--content">
      {% markdown "flu/panel-content.md" %}
    </div>
  </article>

  {% markdown "flu/main-content.md" %}
{% endblock %}

{% block sidebar %}
  {% markdown "flu/sidebar-content.md" %}
{% endblock %}

{% block content_sidebar_last_after %}
  {% markdown "flu/main-content-after.md" %}
{% endblock %}