{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'Patterns' %}
{% set intro = 'Simple conditions patterns' %}

{% block main_content %}
  <h1>Heading one</h1>
  <h2>Heading two</h2>
  <h3>Heading three</h3>
  <h4>Heading four</h4>
  <h5>Heading five</h5>
  <h6>Heading six</h6>

  <p>
    <strong>Fusce vitae accumsan ex, eu semper sem.</strong> Donec sit amet metus a lacus feugiat gravida sit amet eget lorem. <em>Donec pulvinar</em> gravida consequat. Sed dolor felis, dignissim nec ipsum eu, molestie cursus elit. Donec commodo malesuada metus. Nulla efficitur, sapien ac interdum pellentesque, <a href="#">risus ligula</a> feugiat nulla, at ultrices mauris felis fringilla massa.
  </p>

  <h2>Lists</h2>
  
  <h3>Bullet list</h3>

  <ul>
    <li>Unordered list item one</li>
    <li>Unordered list item two</li>
    <li>Unordered list item three
      <ul>
        <li>Nested list item one</li>
        <li>Nested list item two</li>
        <li>Nested list item three</li>
      </ul>
    </li>
  </ul>

  <h3>Numbered list</h3>

  <ol>
    <li>Ordered list item one</li>
    <li>Ordered list item two</li>
    <li>Ordered list item three
      <ol>
        <li>Nested list item one</li>
        <li>Nested list item two</li>
        <li>Nested list item three</li>
      </ol>
    </li>
  </ol>

  <h3>Definition list</h3>

  <dl>
    <dt>Definition list item one</dt>
    <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.</dd>
    <dt>Definition list item two</dt>
    <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.</dd>
    <dt>Definition list item three</dt>
    <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.</dd>
  </dl>

  <h3>Chevron list</h3>

  <ul class="list--chevron">
    <li>Unordered list item one</li>
    <li>Unordered list item two</li>
    <li>Unordered list item three</li>
  </ul>

  <h3>Check list</h3>

  <ul class="list--check">
    <li>Unordered list item one</li>
    <li>Unordered list item two</li>
    <li>Unordered list item three</li>
  </ul>

  <h3>Cross list</h3>   

  <ul class="list--cross">
    <li>Unordered list item one</li>
    <li>Unordered list item two</li>
    <li>Unordered list item three</li>
  </ul>

  <hr>

  <blockquote>
    <p>
      Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
    </p>
  </blockquote>

  <pre><code>
    #header h1 {
      font-weight: normal;
      font-size: 50px;
    }
  </code></pre>

  <h2>Tables</h2>

  <h3>Basic table</h3>

  <table class="full-width">
    <thead>
      <tr>
        <th>Table header one</th>
        <th>Table header two</th>
        <th>Table header three</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table row one, cell one</td>
        <td>Table row one, cell two</td>
        <td>Table row one, cell three</td>
      </tr>
      <tr>
        <td>Table row two, cell one</td>
        <td>Table row two, cell two</td>
        <td>Table row two, cell three</td>
      </tr>
      <tr>
        <td>Table row three, cell one</td>
        <td>Table row three, cell two</td>
        <td>Table row three, cell three</td>
      </tr>
    </tbody>
  </table>

  <h3>Striped table</h3>

  <table class="full-width table--striped">
    <thead>
      <tr>
        <th>Table header one</th>
        <th>Table header two</th>
        <th>Table header three</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table row one, cell one</td>
        <td>Table row one, cell two</td>
        <td>Table row one, cell three</td>
      </tr>
      <tr>
        <td>Table row two, cell one</td>
        <td>Table row two, cell two</td>
        <td>Table row two, cell three</td>
      </tr>
      <tr>
        <td>Table row three, cell one</td>
        <td>Table row three, cell two</td>
        <td>Table row three, cell three</td>
      </tr>
    </tbody>
  </table>

  <h3>Comparison table</h3>

  <table class="table--compare full-width">
    <thead>
      <tr>
        <th>Cold</th>
        <th>Flu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Appears gradually</td>
        <td>Appears quickly within a few hours</td>
      </tr>
      <tr>
        <td>Affects mainly your nose and throat</td>
        <td>Affects more than just your throat and nose</td>
      </tr>
      <tr>
        <td>Makes you feel unwell but you’re ok to carry on as normal - eg go to work</td>
        <td>Makes you feel exhausted and too unwell to carry on as normal</td>
      </tr>
    </tbody>
  </table>
  
  <!-- Duplicate content for mobile display -->
  <table class="table--compare full-width" aria-hidden="true" role="presentation">
    <thead>
      <tr>
        <th>Cold</th>
        <th>Flu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Appears gradually</td>
        <td>Appears quickly within a few hours</td>
      </tr>
      <tr>
        <td>Affects mainly your nose and throat</td>
        <td>Affects more than just your throat and nose</td>
      </tr>
      <tr>
        <td>Makes you feel unwell but you’re ok to carry on as normal - eg go to work</td>
        <td>Makes you feel exhausted and too unwell to carry on as normal</td>
      </tr>
    </tbody>
  </table>

  <h2>Panels</h2>

  <h3>Panel with header</h3>

  <article class="panel">
    <div class="panel__header">
      <h3>To keep your skin cool:</h3>
    </div>
    <div class="panel__content">
      <ul class="list--chevron">
        <li>wear loose cotton clothing</li>
        <li>use lightweight bedding</li>
        <li>take cool baths or showers</li>
        <li>drink plenty of fluid to avoid dehydration</li>
      </ul>
    </div>
  </article>

  <h3>Panel with footer</h3>

  <article class="panel">
    <div class="panel__content">
      <h2>Check if it’s piles</h2>
      <p>It might be piles if you have:</p>
      <ul class="list--chevron">
        <li>lumps around the anus</li>
        <li>bright red blood after you poo</li>
        <li>pain or discomfort when pooing</li>
        <li>an itchy bottom</li>
        <li>mucus leaking from your bottom after you’ve been to the toilet</li>
        <li>soreness, redness and swelling around your anus</li>
        </ul>
    </div>
    <div class="panel__footer">
      <h3>You can usually treat piles yourself.</h3>
    </div>
  </article>
  
  <h3>Binary panel</h3>

  <article class="panel panel--binary">
    <section class="panel__column">
      <div class="panel__content">
        <h3>Do</h3>
        <ul class="list--check">
          <li>give them enough to drink in small sips - they <a href="http://www.nhs.uk/Conditions/Dehydration/Pages/Symptoms.aspx">dehydrate very quickly</a></li>
          <li>continue breastfeeding or formula as normal</li>
          <li>to ease the pain you can give liquid paracetamol for children</li>
          <li>if your child is eating solid foods, offer them their usual food if they want it</li>
        </ul>
      </div>
    </section>
    <section class="panel__column">
      <div class="panel__content">
        <h3>Don’t</h3>
        <ul class="list--cross">
          <li>give them medicines to stop the diarrhoea</li>
          <li>give them fruit juice and fizzy drinks (they can make the diarrhoea worse)</li>
        </ul>
      </div>
    </section>
  </article>

  <h2>Inline markup</h2>

  <ul>
    <li><strong>Highlighted text</strong></li>
    <li><em>Emphasised text</em></li>
    <li><strike>Struckout text</strike></li>
    <li><q>Quotation</q></li>
    <li><abbr title="An abbreviation">Abbreviation</abbr></li>
  </ul>

  <h2>Callouts</h2>

  <div class="callout callout--info">
    <h2>Call 111</h2>
    <p>An information callout</p>
  </div>

  <div class="callout callout--info callout--compact">
    <p>An information callout</p>
  </div>

  <div class="callout callout--attention">
    <h2>See a GP if:</h2>
    <ul>
      <li>symptom this</li>
      <li>symptom that</li>
    </ul>
    <hr class="divider">
    <p>Or call 111 out of hours.</p>
  </div>

  <div class="callout callout--warning">
    <p>A warning callout</p>
  </div>

  <div class="callout callout--alert">
    <h2>See a GP or go to A&amp;E:</h2>
    <ul>
      <li>symptom this</li>
      <li>symptom that</li>
    </ul>
    <hr class="divider">
    <p>It might be XYZ.</p>
  </div>

  <div class="callout callout--severe">
    <h2>Go to A&amp;E or call 999:</h2>
    <ul>
      <li>symptom this</li>
      <li>symptom that</li>
    </ul>
    <hr class="divider">
    <p>It might be XYZ.</p>
  </div>

  <h2>Reveal</h2>

  <h3>Block reveal</h3>

  <details>
    <summary>
      <span class="details__summary">Help with something</span>
    </summary>

    <div>
      <p>Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida.</p>
    </div>
  </details>

  <h3>Inline reveal</h3>

  <details class="details--inline">
    <summary>
      <span class="details__summary">
        Vivamus magna. Cras in mi at <span class="details__cta">felis aliquet congue.</span>
      </span>
    </summary>

    <div>
      <p>Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget
        ligula molestie gravida. Vivamus magna. Cras in mi at felis aliquet
        congue. Ut a est eget ligula molestie gravida.</p>
    </div>
  </details>

{% endblock %}