{% extends '_layouts/content-sidebar-flow.nunjucks' %}

{% set title = 'Heat exhaustion' %}
{% set intro = 'Heat exhaustion and heat stroke are serious if not treated quickly. You should give first aid and call 999 if you think there are signs of heat stroke.' %}

{% block content_sidebar_flow_before %}
  {% markdown "heat-exhaustion/main-content-before.md" %}
{% endblock %}

{% block sidebar %}
  {% markdown "heat-exhaustion/sidebar-content.md" %}
{% endblock %}

{% block content_sidebar_flow_after %}
  {% markdown "heat-exhaustion/main-content-after.md" %}
{% endblock %}