{% extends '_layouts/content-sidebar-flow.nunjucks' %}

{% set title = 'Sprains and strains' %}
{% set intro = 'Sprains and strains are common injuries affecting the muscles and ligaments. The treatment for sprains and strains is the same and can be done at home without seeing a GP.' %}

{% block content_sidebar_flow_before %}
  {% markdown "sprains-strains/main-content-before.md" %}
{% endblock %}

{% block sidebar %}
  {% markdown "sprains-strains/sidebar-content.md" %}
{% endblock %}

{% block content_sidebar_flow_after %}
{% endblock %}